name: Create Issue on Comment

on:
  issue_comment:
    types: [created]

jobs:
  create_issue:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{github.event.comment.body}}"
      - name: Create Issue
        if: ${{ github.event_name == 'issue_comment' && github.event.action == 'created' && startsWith(github.event.comment.body, '/createissue') }}
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const issueTitle = context.payload.comment.body.slice(12).split('\n')[0].trim();
            const issueNumber = context.issue.number;
            const commentId = context.payload.comment.id;
            const commentLink = `https://github.com/${context.repo.owner}/${context.repo.repo}/issues/${issueNumber}#issuecomment-${commentId}`;
            const issueBody = `
              ${context.payload.comment.body.slice(12).trim()}

              
              Created from a comment: ${commentLink}
            `;
            const newIssue = await github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: issueTitle,
              body: issueBody
            });
      - name: Close Issue
        if: ${{ github.event_name == 'issue_comment' && github.event.action == 'created' && (contains(github.event.comment.body, '/close') || contains(github.event.comment.body, '/done')) }}
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            await github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            });


